/* Navbar Styling */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: #fa9494;
    position: relative;
    z-index: 1;
}

.label {
    color: white;
    font-size: 28px;
    line-height: 100px;
    width: 26px;
    margin-right: 40px;
    float: right;
    display: none;
}

.menu {
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    margin: 0 10px;
    line-height: 100px;
    color: white;
    font-size: 22px;
    clear: right;
}

#toggle {
    display: none;
}

@media screen and (max-width: 500px){
    .label {
        display: block;
    }
    
    .menu {
        text-align: center;
        width: 100%;
        z-index: 10;
        display: none;
    }

    .menu a {
        display: block;
        background: #fa9494;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block
    }
}


/* Box Styling */

.box {
    width: 75px;
    height: 75px;
    background-color: peachpuff;
    margin: 25px auto;

    /* Animation */
    /* Choose what animation(keyframe) to use */
    animation-name: boxspin;
    /* Choose how long the animation should last */
    animation-duration: 10s;
    /* Declare how many times  the animation should happen */
    animation-iteration-count: infinite;
    /* Control speed through animation */
    animation-timing-function: linear;
}

@keyframes boxspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

.heart {
    background-color: red;
    height: 70px;
    width: 70px;
    margin: 50px auto;
    transform: rotate(-45deg);
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.heart:before, .heart:after {
    content: '';
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
}

.heart:before {
    top: -30px;
    left: 0px;
}

.heart:after {
    top: 0px;
    right: -30px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}
